.cart_area{
  .receive_address_row{
    .address_btn{
      button{
        width: 100%;
      }
    }
  }
  .user_info_row{
    margin: 20rpx 10rpx;
    // border-radius: var(--themeRadius);
    // box-shadow: 0rpx 0rpx 1rpx 1rpx rgb(192, 190, 190);
    display: flex;
    .user_address{
      flex: 6;
      border-right: 4rpx solid #666;
      display: flex;
      align-content: center;
      justify-content: center;
    }
    .user_phone{
      flex:3;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
}