@import "../../styles/iconfont.wxss"; 

// mp-sticky{
  .search_input{
    // position: fixed;
    // position: sticky;
    height: 80rpx;
    width: 750rpx;
    padding: 10rpx calc(750rpx*0.04);
    background-color: var(--themeColor);
    navigator{
      height: 100%;
      border-radius: var(--themeRadius);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #666;
    }
  }
// }
