.tab_area{
  height: ~'calc(100vh - 80rpx - 78.4rpx)';
  .first_tab{
    display: flex;
    flex-wrap: wrap;
    padding: 10rpx 20rpx 0rpx;
    .goods_item{
      // 固定长宽，好适配宽屏显示
      width: 177px;
      height: 260;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rpx 0rpx 10px;
      .goods_item_area{
        width: 95%;
        height: 98%;
        box-shadow: 0rpx 0rpx 10rpx 10rpx rgb(245, 245, 245);
        border-radius: calc(var(--themeRadius)*0.5);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .goods_img_wrap{
          display: flex;
          justify-content: center;
          align-items: center;
          image{
            width: 100%;
          }
        }
        .goods_info_wrap{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 10rpx;
          .goods_name{
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            border-bottom: 10rpx solid #fff;
            font-size: 14px;
          }
          .goods_price{
            color: var(--themeColor);
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
